<h1>Listing photo_arrays</h1>

<table>
  <tr>
    <th>Photograph</th>
    <th>Slideshow</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photo_arrays.each do |photo_array| %>
  <tr>
    <td><%= photo_array.photograph_id %></td>
    <td><%= photo_array.slideshow_id %></td>
    <td><%= link_to 'Show', photo_array %></td>
    <td><%= link_to 'Edit', edit_photo_array_path(photo_array) %></td>
    <td><%= link_to 'Destroy', photo_array, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo array', new_photo_array_path %>
