<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @slideshow.title %>
</p>

<p>
  <b>User:</b>
  <%= @slideshow.user_id %>
</p>


<%= link_to 'Edit', edit_slideshow_path(@slideshow) %> |
<%= link_to 'Back', slideshows_path %>
