<!DOCTYPE html>
<html>
<head>
  <title>VisionBoard20</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-container">
    <div class="container">
      <div class="row-fluid">
        <header class="main-header">
          <%= link_to "VisionBoard", '/', class: 'logo' %>
          <nav class="pull-right main-nav">
            <% if user_signed_in? %>
              <%= link_to "Images", photographs_url, class: 'main-nav-tour' %>
              <%= link_to "Songs", songs_url, class: 'main-nav-tour' %>
              <%= link_to "Slideshows", slideshows_url, class: 'main-nav-tour' %>
              <%= link_to "Edit profile", edit_user_registration_url, class: 'main-nav-tour' %>
              <%= link_to 'log out', destroy_user_session_url, method: :delete, class: 'main-nav-log-in' %>
            <% else %>
              <a href="#" class="main-nav-tour">tour</a>
              <%= link_to 'sign up', new_user_registration_path, class: 'main-nav-sign-up' %>
              <%= link_to 'log in', new_user_session_path, class: 'main-nav-log-in' %>
            <% end %>
          </nav>
        </header>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="main-footer">
      <span>Copyright &copy; 2013</span>
    </footer>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
